@import url(./reset.css);

.padding {
    padding: 1% 3% 0 3%;
}

.color {
    color: #a96cea;
}

a {
    text-decoration: none;
    /**aby nebyl odkaz podtržený**/
}

label {
    color: #a96cea;
}


.link ul {
    display: flex;
    font-size: 16px;
    /* font-weight: 400; */
    /* letter-spacing: 5px; */
    list-style: none;
    justify-content: space-between;
    padding: 30px 0px;
    flex-direction: column;
    align-items: flex-start;

}

.link ul li {
    border: 1px solid #a96cea;
    display: flex;
    width: 70%;
    gap: 10px;
    align-items: center;
    padding-left: 1em;


}


ul li a i {
    margin-top: 4px;
}

.link ul li a {
    display: flex;
    color: #270b02;
    padding-bottom: 7px;
    /* position: relative;
    transition: top 0.2s linear; */
}

.link ul li a:hover {
    /*border-bottom: #991706 solid 3px;*/
    color: #a96cea;
    top: -5px;
}

button {
    background-color: #ab86d2;
    border: 0;
    padding: 0.6rem;
    border-radius: 7%;
    text-align: left;
}

/* button a,
button[name='ulozit'],
button[name='odhlasit'],
button[name='prihlasit'],
button[name='pridat'] {
    color: white;
} */
* button,
button a {
    color: white;
}


button[name='ulozit'] {
    margin-top: 1.5%;
}

i {
    background-color: #ab86d2;
    color: white;
    border: 0;
    padding: 1.3vh;
    border-radius: 7%;
    margin-left: 0.3em;
}

.styleBox {
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
    margin: 12px 0;
    background-position: center;
    padding: 3vh;
    /* border: 1px solid #a96cea; */
}


table tr:hover {
    border-bottom: 2px solid #ab86d2;
}

table tr td input {
    padding-inline: 6px;
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    padding-block: 0.5rem;

}



/* 
table tr td input:hover {
    background-color: #c0a6db;
    color: white;
    ;
} */